/* ---------------------------------------------
   Estilos Generales para toda la aplicación
--------------------------------------------- */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    height: 100vh; /* Altura del viewport */
    display: flex;
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;  /* Centrar verticalmente */
}


h1.titulo {
    color: #333;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}

/* ---------------------------------------------
   Contenedor Principal y Tarjeta
--------------------------------------------- */



.tarjeta-actualizar {
    background: #f8f8f8; /* Fondo ligeramente gris para resaltar el formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 105%;

}

/* ---------------------------------------------
   Estilos del Formulario
--------------------------------------------- */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

/* ---------------------------------------------
   Botones personalizados
--------------------------------------------- */


/* ---------------------------------------------
   Botón Actualizar Stock
--------------------------------------------- */
.btn-actualizar {
    background: #8ac0ff; /* Azul vibrante */
    color: white;
    border: none;
    padding: 8px 16px;  /* Más delgado (padding reducido) */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}

.btn-actualizar:hover {
    background: #74b9ff;  /* Azul más oscuro */
}

/* ---------------------------------------------
   Botón de regresar al inventario
--------------------------------------------- */
.btn-regresar {
    background: #8ac0ff; /* Azul vibrante */
    color: white;
    border: none;
    padding: 8px 16px;  /* Más delgado (padding reducido) */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;  
    text-align: center;  /* Centra el texto */
    margin-top: 10px;
    transition: 0.3s ease;
    text-decoration: none;  /* Elimina la subrayación */
}

.btn-regresar:hover {
    background: #74b9ff;  /* Azul más oscuro */
}

/* ---------------------------------------------
   Estilo del enlace (en caso de otros usos)
--------------------------------------------- */
a {
    display: block;
    color: #8ac0ff;
    transition: 0.3s ease;
}
