<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/folder.png') }}">
</head>
<body>
    <div class="container">
        <h1>Inventario</h1>
        <a href="{{ url_for('add_product') }}">Agregar producto</a>

        <!-- Enlace para ver transacciones -->
        <a href="{{ url_for('transacciones') }}">Ver Transacciones</a>

        <!-- Enlace para listar usuarios (solo para superadmin) -->
        {% if current_user.rol == 'superadmin' %}
            <a href="{{ url_for('lista_usuarios') }}">Lista de Usuarios</a>
        {% endif %}

        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody> 
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>
                        <a href="{{ url_for('update_product', id=producto.id) }}" class="btn-actualizar">Actualizar</a>
                        <a href="{{ url_for('delete_product', id=producto.id) }}" class="btn-eliminar">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if productos %}
        <footer>
            <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
            <p>&copy; 2025 Gestión de Inventarios | </p>
        </footer>
        {% endif %}
    </div>
</body>
</html>