<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Iniciar Sesión</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="nombre">Nombre de usuario:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>
            
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required><br><br>
            
            <button type="submit">Iniciar Sesión</button>
        </form>
        <br>
        <a href="{{ url_for('registro') }}">Registrarse</a>
    </div>
</body>
</html>