<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Transacciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/folder.png') }}">

</head>
<body>
    <div class="container">
        <h1>Historial de Transacciones</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for transaccion in transacciones %}
                <tr>
                    <td>{{ transaccion.id }}</td>
                    <td>{{ transaccion.tipo }}</td>
                    <td>{{ transaccion.fecha }}</td>
                    <td>{{ transaccion.producto.nombre }}</td>
                    <td>{{ transaccion.cantidad }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('index') }}">Volver al inventario</a>
    </div>
</body>
</html>